article {
    padding: 0.5in 0;

    display: grid;
    grid-template-columns: 1fr 1in [start] 1.25in 5in 1.25in [end] 1in 1fr;

}
article * { grid-column: start / end;}
@media (max-width: 8.5in) {
    article{ grid-template-columns: 1fr 10% [start] 15% 60% 15%[end] 10% 1fr; }}


